.review-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-modal h3 {
  border-bottom: 1px solid rgb(243, 234, 234);
  width: 60%;
  margin: 0 auto;
}

.review-modal-stars {
  margin-top: 20px;
}

.review-modal-stars i {
  padding: 1%;
  cursor: pointer;
  font-size: 24px;
}

.review-modal-stars i:hover {
  font-size: 26px;
}
